<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resume_management.resume_management_back.user.dao.UserMapper">
    <select id="existsByEmail" resultType="boolean" parameterType="string">
        SELECT COUNT(1) <![CDATA[ > ]]> 0 
        FROM user_tbl
        WHERE email = #{email}
    </select>

    <insert id="join" parameterType="com.resume_management.resume_management_back.user.dto.JoinRequestDTO">
        INSERT INTO user_tbl (
            email, 
            password, 
            name
        ) VALUES (
            #{email}, 
            #{password}, 
            #{name}
        )
    </insert>

    <!-- loginRow --> 

    <select id="loginRow"
            parameterType="com.resume_management.resume_management_back.user.dto.LoginRequestDTO"
            resultType="com.resume_management.resume_management_back.user.dto.LoginResponseDTO">
        SELECT *
        FROM user_tbl
        WHERE email = #{email} and password = #{password}
    </select>

    <!-- getAllInfo --> 

    <select id="getAllInfo"
            parameterType="Integer"
            resultType="com.resume_management.resume_management_back.user.dto.LoginResponseDTO">
        SELECT *
        FROM user_tbl
        WHERE user_id = #{user_id}
    </select>

    <!-- updateAllInfo --> 

    <update id="updateAllInfo"
            parameterType="com.resume_management.resume_management_back.user.dto.LoginRequestDTO">
        UPDATE user_tbl
        SET 
            name = #{name},
            phone = #{phone},
            profile_image = #{profileImage},
            address = #{address},
            github = #{github},
            desired_job = #{desiredJob},
            skill = #{skill},
            title = #{title},
            content = #{content},
            age = #{age}
        WHERE user_id = #{userId}
    </update>

    <!-- getCareer --> 

    <select id="getCareer"
            parameterType="Integer"
            resultType="com.resume_management.resume_management_back.user.dto.career.CareerResponseDTO">
        SELECT *
        FROM career
        WHERE user_id = #{userId}

    </select>    

    <!-- deleteCareer --> 

    <delete id="deleteCareer"
            parameterType="Integer">
        DELETE FROM career
        WHERE user_id = #{userId}
    </delete>

    <!-- inputCareer --> 

    <insert id="inputCareer"
            parameterType="com.resume_management.resume_management_back.user.dto.career.CareerResponseDTO">
        INSERT INTO career (user_id, occupation, company, period, details)
        VALUES (#{userId}, #{occupation}, #{company}, #{period}, #{details})
    </insert>    

      <!-- getEducation --> 

    <select id="getEducation"
            parameterType="Integer"
            resultType="com.resume_management.resume_management_back.user.dto.career.CareerResponseDTO">
        SELECT *
        FROM education
        WHERE user_id = #{userId}

    </select>    

    <!-- deleteEducation --> 

    <delete id="deleteEducation"
            parameterType="Integer">
        DELETE FROM education
        WHERE user_id = #{userId}
    </delete>

    <!-- inputEducation --> 

    <insert id="inputEducation"
            parameterType="com.resume_management.resume_management_back.user.dto.career.CareerResponseDTO">
        INSERT INTO education (user_id, company, period)
        VALUES (#{userId}, #{company}, #{period})
    </insert>   
    </mapper>